<div align="center" class="row bg-dark text-white"><h4>Welcome to Dashboard!</h4></div>
<div class="row jumbotron">
    <div class="col-sm-8">
        <canvas id="myChart"></canvas>
    </div>
    <div align="center" class="col-sm-4 bg-secondary text-white">
        <br>
        <h3>It's a Dummy Post Generator Form</h3>
        <br>
        <div align="center">
            <form action="/admin/fake-posts" method="post">
                <div class="bg-dark text-white col">
                    <div align="center">
                        <br>                            
                        <label class="">
                            <h5> Count of fake posts: </h5>
                        </label>
                        <div class="form-group">
                            <input name="qty" type="number">
                            <button type="submit" class="btn btn-outline-secondary">Generate</button>
                        </div>
                        <br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>